AI-Automation-Framework-and-Real-World-Studies.md
AI-Exploitation-Matrix.md
AI-Methodolgy-Field-Guide.md
AI-Methodolgy-L2.md
AI-Methodolgy-L3.md
AI-Methodolgy-Overview.md
AI-Methodology-Attack-Guide.md
AI-Methodology-Mini-Book.md
AI-System-Identification.md
GenAI-Offensive-Security-Handbook-2.pdf
GenAI-Offensive-Security-Handbook-Expanded-2.md
GenAI-Offensive-Security-Handbook-Expanded.md
GenAI-Offensive-Security-Handbook.docx
GenAI-Offensive-Security-Handbook.pdf
handbook.pdf
Offensive Security Guide for AI-Enabled Applications.md
reference.docx
